# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# compiled output
.next
node_modules

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store

# IDEs and editors
.idea
.vscode

# env files
.env

# Project specific
next-env.d.ts
