.container {
  display: flex;
  gap: 6.25px;
}

.content {
  padding: 0px 40px;
  display: flex;
  flex-direction: column;
  gap: 70px;
}

.content > h1,
.content > p {
  font-family: Noto Sans CJK KR;
  color: #000000;
  font-weight: 500;
}

.content > h1 {
  font-size: 48px;
}

.content > p {
  font-weight: 23px;
}

.image {
  border-radius: 30px;
}

.image_shadow {
  box-shadow: 0px 0px 100px rgba(255, 255, 255, 0.1);
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Mobile */
@media (max-width: 700px) {
  .container {
    display: flex;
    flex-direction: column;
    gap: 48px;
  }

  .content {
    display: flex;
    gap: 24px;
  }

  .content > h1 {
    font-size: 32px;
  }
}
