.container {
  display: flex;
  margin-top: 40px; /* For Debuging */
  flex-direction: column;
  padding: 102px 0px 72px 0px;
  background-color: #f3f6ff;
  align-items: center;
}

.container > div > p {
  font-weight: 900;
  color: #3a70ff;
}

.icon {
  width: 40px;
  height: 40px;
}

.social_icons,
.logo_container {
  display: flex;
  justify-content: center;
}

.social_icons {
  gap: 10px;
  padding: 28px 0px 58px 0px;
}

/* Mobile */
@media (max-width: 700px) {
  .container {
    padding: 52px 0px 36px 0px;
  }
  .social_icons {
    padding: 14px 0px 28px 0px;
  }
}
