.wave {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: calc(100vh - 65px);
  background-color: #c8d7ff;
  overflow: hidden;
  gap: 32px;
}

.wave:before,
.wave:after {
  content: "";
  position: absolute;
  left: 50%;
  min-width: 300vw;
  min-height: 300vw;
  background-color: #ffffff;
  animation-name: rotate;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.wave:before {
  bottom: 15vh;
  border-radius: 45%;
  animation-duration: 15s;
}

.wave:after {
  bottom: 12vh;
  opacity: 0.5;
  border-radius: 47%;
  animation-duration: 15s;
}

.wave > p {
  z-index: 10;
  text-align: center;
}

.wave > p {
  font-size: 48px;
  font-weight: 800;
  color: #000000;
}

.wave > p:last-of-type {
  font-size: 21px;
  font-weight: 700;
  color: #3a70ff;
  cursor: pointer;
}

.wave > p > span {
  color: #3a70ff;
}

@keyframes rotate {
  0% {
    transform: translate(-50%, 0) rotateZ(0deg);
  }
  50% {
    transform: translate(-50%, -2%) rotateZ(180deg);
  }
  100% {
    transform: translate(-50%, 0%) rotateZ(360deg);
  }
}

.content_container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.container1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 250px 0px 150px 0px;
  background-color: #c8d7ff;
}

.container1_end {
  width: 100%;
  height: 211px;
  background: linear-gradient(180deg, #C8D7FF 0%, rgba(200, 215, 255, 0) 100%);
}

.container3 {
  display: flex;
  flex-direction: column;
  padding: 150px 0px
}

.container3 > div:not(:last-of-type) {
  margin-bottom: 130px;
}

.container3 > h1 {
  padding: 0px 40px;
  font-weight: 700;
  font-size: 48px;
  margin-bottom: 48px;
}

/* Mobile */
@media (max-width: 700px) {
  .wave > p {
    font-size: 32px;
  }
  
  .wave > p:last-of-type {
    font-size: 18px;
  }

  .container1 {
    padding: 128px 0px 72px 0px;
  }

  .container1_end {
    width: 100%;
    height: 105px;
    background: linear-gradient(180deg, #C8D7FF 0%, rgba(200, 215, 255, 0) 100%);
  }

  .container3 {
    padding: 75px 0px
  }
  
  .container3 > div:not(:last-of-type) {
    margin-bottom: 65px;
  }
  
  .container3 > h1 {
    font-size: 32px;
    margin-bottom: 24px;
  }
}
