.topbar {
  width: 100vw;
  padding: 20px 15.625vw;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  z-index: 10000;
  top: 0px;
  display: flex;
  justify-content: center;
  justify-content: space-between;
  background-color: #ffffff;
}

.topbar_under {
  border-bottom: 1px solid #e4e4e4;
}

.logo {
  cursor: pointer;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 40px;
}

.item li {
  font-weight: 500;
  font-size: 14px;
}

.item li:last-of-type {
  color: #3a70ff;
}

@media (max-width: 700px) {
  .topbar {
    padding: 20px;
  }
}
